$main_color: #D73A32;

* {
  font-family:Barlow;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.form-input {
  border:1px solid #A6A6A6;
  height:40px;
  padding:6px 12px;
  width:100%;
  outline:none
}

.form-textarea {
  border:1px solid #A6A6A6;
  height:160px;
  padding:6px 12px;
  width:100%;
  outline:none
}

.service-switch {
  padding:15px 30px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  border-bottom:2px solid #C4C4C4;
  color:#C4C4C4;
  z-index:3;
  margin-bottom:-2px;
  &.active {
    color:#D73A32;
    border-color:#D73A32;
  }
}

.coverCenter {
  background-size:cover !important;
  background-position: center !important;
}

.topBanner {
  background-size:cover !important;
  background-position: center !important;
}

.contact-us-form-sec select{
  background:#FAFBFC;
  }

  .contact-us-form-sec select option{
    background:white;
    }  

  .contact-us-form-sec textarea{
    background:#FAFBFC;
    }

.contact-us-form-sec input{
background:#FAFBFC;
}
.contact-us-form-sec input:focus{
  background:white;
  }

  .contact-us-form-sec textarea:focus{
    background:white;
    }





@media only screen and (max-width:600px){
.serviceSlider  div{
  width: 160px !important;
    height: 100px !important;
}

.bg-black .container button[type="button"]:first-child {
  left: 0px;
}
.serviceSlider div  button:last-child  {
  right: 0px;
}
}