$main_color: #d73a32;

* {
  font-family: Barlow;
}

.mega-menu a:hover {
  text-decoration: underline;
}

.react-multi-carousel-list {
  cursor:grab;
  &:active {
    cursor: grabbing;
  }
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.form-input {
  border: 1px solid #a6a6a6;
  height: 40px;
  padding: 6px 12px;
  width: 100%;
  outline: none;
}

.form-textarea {
  border: 1px solid #a6a6a6;
  height: 160px;
  padding: 6px 12px;
  width: 100%;
  outline: none;
}

.service-switch {
  padding: 15px 30px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  border-bottom: 2px solid #c4c4c4;
  color: #c4c4c4;
  z-index: 3;
  margin-bottom: -2px;
  &.active {
    color: #d73a32;
    border-color: #d73a32;
  }
}

.coverCenter {
  background-size: cover !important;
  background-position: center !important;
}

.topBanner {
  background-size: cover !important;
  background-position: center !important;
}

.contact-us-form-sec select {
  background: #fafbfc;
}

.contact-us-form-sec select option {
  background: white;
}

.contact-us-form-sec textarea {
  background: #fafbfc;
}

.contact-us-form-sec input {
  background: #fafbfc;
}
.contact-us-form-sec input:focus {
  background: white;
}

.contact-us-form-sec textarea:focus {
  background: white;
}

.prevBtn {
    
    top: 40%;
    left: 10px;
    
}

.nextBtn {
    
  top: 40%;
  right: 10px;
  
}

.closeBtn {
  right: 10px;
}

@media only screen and (max-width: 1024px) {
  .serviceSlider div {
    width: 450px !important;
    height: 250px !important;
  }
}

@media only screen and (max-width: 768px) {
  .serviceSlider div {
    width: 340px !important;
    height: 250px !important;
  }
}

@media only screen and (max-width: 600px) {
  .serviceSlider div {
    width: 160px !important;
    height: 100px !important;
  }



  .bg-black .container button[type="button"]:first-child {
    left: 0px;
  }
  .serviceSlider div button:last-child {
    right: 0px;
  }

  .service-switch {
    padding: 15px 15px;
}

.serviceSlider button img[alt="slide to left"] {
  height: 26px !important;
  width: 100%;
  left: -43px;
  position: absolute;
  top: 15px !important;
}

.serviceSlider button img[alt="slide to right"] {
  height: 26px !important;
  width: 100%;
  right: -43px;
  position: absolute;
  top: 15px !important;
}

}


.trackSystemHeader {
  background-color: white !important;
}


.ourProductSlider .carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.ourProductSlider .carousel-item {
  flex: 0 0 100%;
  margin-right: 1rem;
}

.ourProductSlider .carousel-control {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ourProductSlider .carousel-control.left {
  left: 0;
}

.ourProductSlider .carousel-control.right {
  right: 0;
}

.homeSlider .react-multiple-carousel__arrow{
  background: transparent;
}

.homeSlider .react-multiple-carousel__arrow:hover{
  background: transparent;
}

.homeSlider .react-multiple-carousel__arrow::before {
  color: #D73A32 !important;
  font-weight: 700;
  font-size: 25px;
}

.homeSlider button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  left: 0;
}


.homeSlider  button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  right: 0;
}


@media (min-width: 1200px) {
  .ourProductSlider .carousel-item {
    flex: 0 0 calc(33.333% - 1rem);
  }
}


// @media (max-width: 767px) {
//   .productSlider .text-center {
//     flex: 1 0 100%;
//   }
// }

// /* CSS for desktop view (3 slides per view) */
// @media (min-width: 768px) {
//   .productSlider .text-center {
//     flex: 1 0 calc(33.333% - 1rem);
//   }
// }
